:root {
  /* Primary */
  --clr-primary-100: hsl(0, 100%, 67%);
  --clr-primary-200: hsl(39, 100%, 56%);
  --clr-primary-300: hsl(166, 100%, 37%);
  --clr-primary-400: hsl(234, 85%, 45%);
  /* Gradients */
  --clr-gredient-100: hsl(252, 100%, 67%);
  --clr-gredient-200: hsl(241, 81%, 54%);
  --clr-gredient-300: hsla(256, 72%, 46%, 1);
  --clr-gredient-400: hsla(241, 72%, 46%, 0);
  /* Neutral */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(221, 100%, 96%);
  --clr-neutral-300: hsl(241, 100%, 89%);
  --clr-neutral-400: hsl(224, 30%, 27%);
}

/* Media Query */
@media screen and (max-width:767px) {
  .container{
    width: 100%;
  }
  .column-one{
    
  }
  .column-two{
    width: 100%;
    
  }
  
}
body {
  font-family: "Hanken Grotesk", sans-serif;
}
.container {
  display: flex;
  /* gap: 40px; */
  /* justify-content: space-between; */
  box-shadow: 1px 1px 30px gray;
  /* width: 80%; */
  margin: 20%;
  width: 60%;
  border-radius: 30px;
}
/* First Column */

.column-one {
  color: white;
  width: 45%;
  text-align: center;
  border-radius: 25px;
}
.even-column {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsl(252, 100%, 67%)
  );
  border-radius: 50%;
  margin-left: 33%;

  width: 30%;
  background-color: none;
  padding: 18px;
  text-align: center;
}
.column-one h5 {
  color: var(--clr-neutral-300);
  font-size: 18px;
}
.column-one p {
  color: var(--clr-neutral-300);
  font-size: 15px;
}
.second-para {
  color: var(--clr-neutral-300);
  font-size: 18px;
  padding-left: 70px;
  width: 63%;
}
.column-one span {
  font-size: 50px;
}

/* Second Column */
.column-one {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.reaction p {
  color: var(--clr-primary-100);
}
.memory p {
  color: var(--clr-primary-200);
}
.verbal {
  color: var(--clr-primary-300);
}
.visual {
  color: var(--clr-primary-400);
}
img {
  width: 15px;
}
.reaction {
  display: flex;
  gap: 80px;
  font-size: 19px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  padding-left: 40px;
  background-color: hsl(0, 52%, 94%);
  border: none;
}
.memory {
  display: flex;
  gap: 80px;
  font-size: 19px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  padding-left: 40px;
  background-color: hsl(39, 100%, 94%);
}
.verbal {
  display: flex;
  gap: 80px;
  font-size: 19px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  padding-left: 40px;
  background-color: hsl(166, 81%, 96%);
}
.visual {
  display: flex;
  gap: 80px;
  font-size: 19px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  padding-left: 40px;
  background-color: hsl(233, 74%, 95%);
}
.second-child p {
  color: lightgray;
}
button {
  margin-top: 30px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border: none;
  width: 100%;
  text-align: center;
  margin-left: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  color: white;
  /* margin-top: 10px; */
}
